* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


		.container::before {
			content: '';
			background: url('https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=947&q=80')
				no-repeat center center/cover;
			position: absolute;
			opacity: 0.5;
			top: 0px;
			left: 0px;
			width: 100vw;
			height:100vh;
			z-index: -1;
		}

h1 {
  
  /* margin-top: 0% i !important; */
  font-family: "Shadows Into Light", cursive;
}

ul li a {
  color: white;
}
.nav-link,
.navbar-brand {
  color: #fff !important;
}
#social{

  display: flex;
  justify-content: center;
  align-items: flex-end;
}


#social li {
  list-style: none;
  flex: 1;
  }


 #social li a {
  color: rgb(130, 4, 247);
  padding: 10px;
}
#social li i:hover {
  /* width: 100%; */
  transition: width 0.5s;
  transform: scale(1.2);
  color: rgb(87, 5, 163);
}

#social {
  color: #fff !important;
}



@media screen and (max-width: 600px) {
  #social li {
    list-style: none;
    float: left;
    display: block;
    list-style: none;
  }
   
    
